div.landing {
    height: 68vh;
    .content {
        margin: 150px 150px;
    }
}
.about {
    height: 450px;
    background-color: $main-color;
    color: $minor-color;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.767);
    margin: 10px;
    .ab-content {
       
        transform: translateY(20px);
        border-radius: 5px;
        padding: 40px;
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aboutme myskills";
        grid-gap: 10px;
        .descr {
            grid-area: aboutme;
            border: 1px solid $minor-color;
            border-radius: 5px;
            background: $minor-color;
            color: rgb(215, 249, 250);
        }
        .skills {
            grid-area: myskills;
            border: 1px solid $minor-color;
            border-radius: 5px;
            background: $minor-color;
            color: rgb(215, 249, 250);
        }
    }
}

//Projects
.projects {
    background-color: $main-color;
    color: $minor-color;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.767);
    margin: 10px;
}
.p-card{
    border: 1px solid $minor-color;
    background: $minor-color;
    color: rgb(215, 249, 250);
    width: 350px;
    height: 450px;
    margin: 20px;
    .card-image {
        background-image: linear-gradient(to right, #2e0219ea, #66222ed5), url(../img/code.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        border: 1px solid $minor-color;
        border-radius: 5px;
    }
}

//contact
.contact-form {
    width: 75%;
    border: 1px solid $minor-color;
    border-radius: 5px;
    margin: 5px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.767);
    .form-top {
        border: 1px solid $main-color;
        border-radius: 3px;
        padding: 30px;
    }
}
.form-group{
    input, textarea{
        background-color: $main-color;
        color: $minor-color;
        &:focus {
            background-color: $main-color;
        }
    }
}

